{% extends 'base.html' %}

{% block title%}
Users- {{ block.super }}
{% endblock title%}

{% block content%}
<h1 class="text-lg font-medium"> Users</h1>

    {% if perms.auth %}
    {% if perms.auth.view_user %}
    <div>
            {% for instance in object_list %}
            <li><a href="/profiles/{{instance.username}}">{{ instance.username }}<a/></li>

             {% endfor %}
            
    </div>
    {% else %}
    <div>Your are not authorized to see this.</div>
    {% endif %}
{% endif %}
{% endblock content%} 